@import "~react-image-gallery/styles/scss/image-gallery.scss";

.section-banner {
  padding: 0;
  position: relative;
  background-color: white;

  .main-image-logo {
    position: absolute !important;
    right: 2em;
    bottom: 2em;
  }

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: none !important;
  }
  .main-image,
  .image-gallery-slide .image-gallery-image {
    width: 100% !important;
    height: 80vh !important;
    object-fit: cover !important;
    object-position: center !important;

    @media (max-width: 960px) {
      height: 60vh !important;
    }
  }

  .image-gallery-slide {
    opacity: 0;
    transition: opacity 2000ms ease-out !important;
  }
  .image-gallery-slide.center {
    opacity: 1;
  }
}
