.section-counter {
  text-align: center;
  padding-top: 0;

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    background: linear-gradient(60deg, #af0202, #d40d0d, #af0202);
    width: fit-content;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 1.25em;
    font-weight: bold;
  }
}
