.section-contact {
  .contact-form {
    width: 100%;
    text-align: right;
    margin: 1em 0;

    input {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
    }

    button {
      color: white !important;
    }
  }
}
