header {
  button,
  h6,
  a {
    color: black !important;
  }
  .logo-navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
#languages-menu {
  ul > li > a {
    color: black !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .mr-1 {
    margin-right: 0.5em;
  }
}
