header {
  button,
  h6,
  a {
    color: black !important;
  }
  .logo-navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
#languages-menu {
  ul > li > a {
    color: black !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .mr-1 {
    margin-right: 0.5em;
  }
}
.side-menu {
  &--logo {
    padding: 1em;
  }
  &--list {
    a {
      color: black !important;
    }
  }

  .languages-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      display: flex;
      padding: 14px 0;
      border-bottom: none;
    }
  }
}
