.section-gallery {
  background-color: rgba(0, 0, 0, 0.09);
  text-align: center;

  .gallery {
    .gallery-button {
      width: 14%;
      @media (max-width: 960px) {
        width: 33%;
      }
    }

    .gallery-thumbnail {
      object-fit: cover;
      object-position: center;
      height: 100px;
      width: 100%;
    }
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 1.5em;
    padding-top: 56.25%;
    // padding-top: 75%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.gallery-main {
  button {
    border: 0;
  }
}
