.section-interior {
  background-color: rgba(0, 0, 0, 0.09);

  .reverse-xs {
    @media (max-width: 960px) {
      flex-wrap: wrap-reverse;
    }
  }

  .image-gallery {
    &-icon:hover {
      color: #6adaff;
    }

    &-bullet:focus,
    &-bullet:hover {
      background: #6adaff;
    }
  }

  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 80px;
    width: 60px;
  }
}
