.map-container {
  height: 400px !important;
  width: 100% !important;
  padding-bottom: 0;

  .location-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 3px black;
  }
}
